### Modelling

In [1]:
# Sampling libraries
from imblearn.over_sampling import RandomOverSampler
from collections import Counter
from sklearn.model_selection import train_test_split
from Eda import *
from sklearn.utils import resample

# sklearn packages for Decision Tree
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc 
from sklearn.metrics import roc_auc_score

# sklearn packages for Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import StandardScaler

# sklearn packages for KNNeighbors
from sklearn.neighbors import KNeighborsClassifier

# sklearn packages for NN
from sklearn.neural_network import MLPClassifier

# Set print options
pd.set_option('display.max_columns', None)

from tqdm import tqdm

In [2]:
df = df[['Medu', 'Fedu', 'studytime', 'address', 'goout', 'higher', 'paid', 'internet', 'Mjob', 'Fjob', 'schoolsup', 'sex', 'traveltime', 'romantic', 'age', 'G3']]

X = df.drop('G3', axis=1).values

y = df['G3'].values

In [3]:
# # split data into test and train - 80/20
# for i in range(1, 100):
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)

In [4]:
def evaluate_model(model, X_test, y_test):
    # Fit the model
    # model.fit(X_train, y_train)

    # Make predictions
    y_pred = model.predict(X_test)

    # Calculate metrics
    accuracy = accuracy_score(y_test, y_pred)

    # Return the results
    return {
        'Model': model.__class__.__name__,
        'Accuracy': accuracy,
    }

In [5]:
df

,Medu,Fedu,studytime,address,goout,higher,paid,internet,Mjob,Fjob,schoolsup,sex,traveltime,romantic,age,G3
0,4,4,2,1,4,1,0,0,3,0,1,1,2,0,18,1
1,1,1,2,1,3,1,0,1,3,4,0,1,1,0,17,1
2,1,1,2,1,2,1,1,1,3,4,1,1,1,0,15,1
3,4,2,3,1,2,1,1,1,1,5,0,1,1,1,15,2
4,3,3,2,1,2,1,1,0,4,4,0,1,1,0,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,2,2,1,4,1,1,0,5,5,0,0,1,0,20,1
391,3,1,1,1,5,1,0,1,5,5,0,0,2,0,17,3
392,1,1,1,0,3,1,0,0,4,4,0,0,1,0,21,1
393,3,2,1,0,1,1,0,1,5,4,0,0,3,0,18,1
394,1,1,1,1,3,1,0,1,4,3,0,0,1,0,19,1

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
X_resampled, y_resampled = resample(X_train, y_train, replace=True, n_samples=20000, random_state=42)

#### Decision tree

In [18]:
clf = DecisionTreeClassifier(criterion="entropy", max_depth=10)
# y_pred = clf.predict(X_test)

In [19]:
# split data into test and train - 80/20
for i in range(1, 100):
    for j in range(1, 15):
        X_train_i, X_test_i, y_train_i, y_test_i = train_test_split(X, y, test_size=0.2, random_state=i)
        DecisionTreeClassifier(criterion="entropy", max_depth=j)
        clf.fit(X_train_i, y_train_i)
        if evaluate_model(clf, X_test_i, y_test_i)['Accuracy'] > 0.5:
            print(i)
            print(j)
            print(evaluate_model(clf, X_test_i, y_test_i))
            break

#### Random Forest

In [24]:
# rf = RandomForestClassifier()

# # fit and predict
# rf.fit(X_train, y_train)
# y_pred = rf.predict(X_test)

# # calculate the R^2 score
# rsquared = rf.score(X_test, y_test)
# y_test += 1
# y_pred += 1

# rel_error = np.mean(np.abs(y_test - y_pred) / y_test)
# rel_error_med = np.median(np.abs(y_test - y_pred) / y_test)
# rel_quan = np.quantile(np.abs(y_test - y_pred) / y_test, [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

# print(f'Relative error: {rel_error * 100 :.3f} %')
# print(f'Relative median error: {rel_error_med * 100 :.3f} %')
# print(rel_quan * 100, '%')
# print(f'R squared: {rsquared:.3f}')

In [25]:
# fig, ax = plt.subplots(ncols=1, figsize=(9,5))
# fig.suptitle(f'True vs predicted')
# ax.plot(y_test, y_pred, '.', markersize = 1.5, alpha = .6)
# ax.set(xlabel = 'True value', ylabel = 'Predicted value', title = 'Validation data')
# fig.tight_layout()

#### KNN

In [38]:

for i in range(1, 100):
    for j in range(1, 100):

        X_train_i, X_test_i, y_train_i, y_test_i = train_test_split(X, y, test_size=0.2, random_state=i)
        knn = KNeighborsClassifier(n_neighbors=j, metric='euclidean', weights='distance')
        scaler = StandardScaler()

        scaler.fit(X_train_i)
        X_train_std = scaler.transform(X_train_i)

        knn.fit(X_train_std, y_train_i)

        X_test_std = scaler.transform(X_test_i)

        y_S_pred_2 = knn.predict(X_test_std)

        if evaluate_model(knn, X_test_i, y_test_i)['Accuracy'] > 0.6:
                print(i)
                print(j)
                print(evaluate_model(knn, X_test_i, y_test_i))
                print()
                break

98
26
{'Model': 'KNeighborsClassifier', 'Accuracy': 0.6075949367088608}

In [16]:
# for i in tqdm (range(1, 10)):
nn = MLPClassifier(hidden_layer_sizes=(100, 100, 100), max_iter=i*1000, activation='logistic', solver='lbfgs', learning_rate='adaptive')

nn.fit(X_train, y_train)
f = nn.predict(X_test)

# if nn.score(X_test, y_test) > 0.5:
print(i)
print(nn.score(X_test, y_test))
print(nn.loss_)
print(f)

2
0.4050632911392405
0.005110583287093614
[2 1 1 1 0 1 3 2 3 3 2 2 2 1 1 1 1 2 2 2 2 2 0 1 3 2 3 2 2 2 1 2 3 2 2 3 2
 1 2 2 1 2 3 3 2 3 2 2 1 3 1 2 2 1 1 2 1 2 2 2 2 2 0 1 1 0 1 0 2 2 2 2 1 3
 1 1 0 3 3]

c:\Users\Josef\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:545: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)